
@{
    ViewBag.Title = "Data";
}

<div class="main-container">

	<div class="row">
	 <div class="col-md-6 col-lg-push-3">

		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>Code</th>
					<th>Values</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2</td>
					<td>A,B,C</td>
				</tr>
				<tr>
					<td>3</td>
					<td>D,E,F</td>
				</tr>
				<tr>
					<td>4</td>
					<td>G,H,I</td>
				</tr>
				<tr>
					<td>5</td>
					<td>J,K,L</td>
				</tr>
				<tr>
					<td>6</td>
					<td>M,N,O</td>
				</tr>
				<tr>
					<td>7</td>
					<td>P,Q,R,S</td>
				</tr>
				<tr>
					<td>8</td>
					<td>T,U,V</td>
				</tr>
				<tr>
					<td>9</td>
					<td>W,X,Y,Z</td>
				</tr>
			</tbody>
		</table>

	 </div>
	</div>


</div>
