@model List<string>
@{
    ViewBag.Title = "Data";
}

<div class="main-container">

	<div class="row">
	 <div class="col-md-6 col-lg-push-3">

		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>Sorted Words</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var word in Model)
				{
					<tr>
						<td>@word</td>
					</tr>
				}
			</tbody>
		</table>

	 </div>
	</div>


</div>
