@{
    ViewBag.Title = "Predictive Text";
}

<div class="main-container">



	<div class="row">
	 <div class="col-md-6 col-lg-push-3">
		 <h2 class="display">HIRE JOSE F AQUINO JR</h2>
		 <input id="txtSearch" type="number" class="input-lg" placeholder="enter number" autofocus>
	 </div>
	</div>

	<div class="row">
	 <div class="col-md-6 col-lg-push-3">
		 <ul id="ulResult" class="list-group">

		 </ul>
	 </div>
	</div>

</div>


@section head{
	<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
}

@section scripts{

<script>

	$(function () {

		
		var timer;
		var x;

		//http://stackoverflow.com/a/4220209
		$('#txtSearch').keyup(function () {

			var txt = $(this);

			if (x) { x.abort() } // If there is an existing XHR, abort it.
			clearTimeout(timer); // Clear the timer so we don't end up with dupes.
			timer = setTimeout(function () { // assign timer a new timeout 

				if (txt.val() == '') {
					$('#ulResult').html('');
					return;
				}


				x = $.getJSON( // run ajax request and store in x variable (so we can cancel)
						'/data/predict/?text=' + txt.val(),
						function (data) {
							$('#ulResult').html('');
							if (data.length > 0) {
								$.each(data, function (i, v) {
									$('#ulResult').append('<li class="list-group-item">' + v + '</li>');
								});
							}
							else {
								$('#ulResult').append('<li class="list-group-item">No records found</li>');
							}
							
						}
					); 
			}, 800); // tweak for faster/slower

		})

		

	});

</script>

}